<section id="add">

	<form action="/" method="post" id="reminder">
		<input id="email" type="email" name="email" placeholder="your email address" required/>
		<input id="name" name="name" title="don't fill this out if your a human" />
        <textarea id="content" name="content" placeholder="write yourself a reminder..." ></textarea>
        <div>
			<input id="date" name="date" autocomplete="off" placeholder="date" required/>
		    <select name="repeat" form="reminder"  id="repeat">
		    	<option value="no-repeat">don't repeat</option>
		    	<option value="day">daily</option>
		    	<option value="week">weekly</option>
		    	<option value="month">monthly</option>
		    	<option value="year">yearly</option>
		    </select>
        </div>
	</form>

	<input type="submit" form="reminder" value="Set reminder" id="submit">

<script>
	$(function() {
		$( "#date" ).datepicker({
		  minDate: '+1D',
		  maxDate: '+10Y',
		  changeMonth: true,
		  changeYear: true,
		  dateFormat: 'dd/mm/yy'
		});
	});

	$('#reminder').validate({
	  errorPlacement: function(error, element) {
	    if (element.attr("name") == "date") {
		    error.appendTo( element.parent("div") );
	    }
	    else {
	    	error.insertAfter( element );
	    }
	  }
	});
  </script>

</section>



